
<%= form_with local: true, method: "get" do |f| %>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>
      <div>Status</div>
<div>
    <%= f.label "active"%>
    <%= f.radio_button  :status, "Active"%>
    <%= f.label "Inactive"%>
    <%= f.radio_button  :status, "Inactive"%>
    <%= f.label "All"%>
    <%= f.radio_button  :status, "All"%>
    <%= f.submit  "Filter" %>
</div>
    </th>
    <th>email</th>
    <th>See user</th>
  </tr>
<% end %>
<% @users.each  do |user| %>

  <tr>
    <td><%= user["first_name"]%></td>
    <td><%= user["last_name"]%></td>
    <td><%= user["status"]%></td>
    <td><%= user["email"]%></td>
<td><%= button_to 'See user detail', user_path({:id =>user["id"]}) , method: :get%></td>
  </tr>

<%end%>
</table>
<%= will_paginate @users %>
