
<%= form_with local: true, method: "get" do |f| %>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>
      <div>Status</div>
<div class="filter">
    <span><%= f.label "active"%>
    <%= f.radio_button  :status, "Active"%></span>
    <span><%= f.label "Inactive"%>
    <%= f.radio_button  :status, "Inactive"%></span>
    <span><%= f.label "All"%>
    <%= f.radio_button :status, "All", checked: true%></span>
    <span><%= f.submit  "ðŸ¹" %></span>
    <input type="hidden" value="2"  name="per_page" id="per_page">
</div>
    </th>
    <th>email</th>
    <th>See user</th>
  </tr>
<% end %>
<% @users.each  do |user| %>

  <tr>
    <td><%= user["first_name"]%></td>
    <td><%= user["last_name"]%></td>
    <td><%= user["status"]%></td>
    <td><%= user["email"]%></td>
<td><%= button_to 'See user detail', user_path({:id =>user["id"]}) , method: :get%></td>
  </tr>

<%end%>
</table>
<%= will_paginate @users %>
